<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Video Sreaming with OpenCV and Flask</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">


  </head>
  <body>
    <h1 class="text-center head_title">Secuvallence - IPC Live</h1>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-8 text-center">
                
                <div class="video_control">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-warning btn-block play_video">Record</button>
                        <button type="button" class="btn btn-outline-success btn-block play_video">Play</button>
                        <button type="button" class="btn btn-outline-danger btn-block play_video">Pause</button>
                        <button type="button" class="btn btn-outline-info btn-block play_video">Fullscrean</button>
                        <button type="button" id="video_info" class="btn btn-outline-primary btn-block" data-toggle="collapse" href="#infoCollapse" aria-expanded="false" aria-controls="thisVideoInfo">Video Info</button>
                    </div>
                </div>
                <div class="video_viewport">
                    <img id="bg" src="{{ url_for('video_feed') }}">
                </div>
            </div>
            
            <div class="col-sm-4 h-100">
                <div class="card card-body info_body">
                    {% if config %}
                    <p> {{ config }}!</p>
                    {% else %}
                    <h1>Error loading config. Check IPC Connection!</h1>
                    {% endif %}
                </div>
                
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./static/main.js" </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>